<!DOCTYPE html>
<html lang="en">
<head>
  <title>Online MS-DOS Assembly Editor and Runner</title>
  <link rel="canonical" href="https://dosasm.com">
  <meta name="author" content="Michael Gurov">
  <meta name="description" content="Write, run, and share MS-DOS assembly language programs online. dosasm.com supports MASM, NASM, TASM, and FASM assemblers for real-time execution.">
  <meta name="keywords" content="MS-DOS, assembler, assembly language, MASM, NASM, TASM, FASM, online assembler, x86 programming, DOS programming, assembly editor, run assembly online, share assembly code, DOS emulator, assembly IDE">
  {{template "gtag.js"}}
  <link rel="icon" href="/img/dosasm-favicon.ico" type="image/x-icon"/>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/dosasm.css"/>
  <script src="/js/ace/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/ace/src-noconflict/theme-ambiance.js"></script>
  <script src="/js/ace/src-noconflict/theme-dawn.js"></script>
  <script src="https://v8.js-dos.com/latest/js-dos.js"></script>
</head>
<body>
  <header>
    <div class="header-left">
      <img src="/img/dosasm-logo.png" alt="Logo">
      <h1 style="font-size: 1.2em; margin: 0;">DOS Assembly</h1>
    </div>
    <div class="theme-switch">
      <span class="sun-icon">☀️</span>
      <label class="switch">
        <input type="checkbox" onchange="toggleTheme()" checked/>
        <span class="slider"></span>
      </label>
    </div>
  </header>

  <main>
    <div class="container">
      <div class="left-pane" id="left-pane">
        <div class="control-bar">
          <div class="left-controls">
            <select id="asm-lang">
              <option>TASM</option>
              <option>MASM</option>
              <option>NASM</option>
              <option>FASM</option>
            </select>
            <button onclick="runCom()">Run</button>
          </div>
          <button id="save-button" onclick="saveSource()">Save and Copy URL</button>
        </div>
        <div id="code-editor" class="code-editor" contenteditable="true"></div>
      </div>
      <div class="resizer" id="resizer" title="Double-click to center"></div>
      <div class="right-pane" id="right-pane">
        <div class="tabs">
          <div class="tab active" onclick="switchTab('output')">Output</div>
          <div class="tab" onclick="switchTab('docs')">Documentation</div>
          <div class="tab" onclick="switchTab('examples')">Examples</div>
          <div class="tab" onclick="switchTab('about')">About</div>
        </div>
        <div class="tab-content" id="tab-output"><div id="dosbox-container" ></div><div id="compiler-output"></div></div>
        <div class="tab-content" id="tab-docs" style="display: none;">Assembly language docs / CPU instructions manual / VGA register references / tutorials -- <b>coming soon!</b>
        </div>
        <div class="tab-content" id="tab-examples" style="display: none;"><div><select id="size-select" onchange="viewExamples()">
              <option value="*" selected>All sizes</option>
              <option value="32b">32 bytes</option>
              <option value="64b">64 bytes</option>
              <option value="128b">128 bytes</option>
              <option value="256b">256 bytes</option>
              <option value="512b">512 bytes</option>
              <option value="1k">1K bytes</option>
            </select>
          </div>
          <div id="examples-viewport">
          </div>
        </div>
        <div class="tab-content" id="tab-about" style="display: none;">
          <p class="center">&copy; 2025 <a href="https://github.com/bhmj/" target=_blank>Michael Gurov<a></p>
          <p class="center">✉️ <a href="mailto:i.gourov+dosasm@gmail.com">Drop me a line</a></p>
          <p class="center"><a href='https://ko-fi.com/Q5Q21FEO21' target='_blank'><img height='36' style='border:0px;height:36px;' src='https://storage.ko-fi.com/cdn/kofi5.png?v=6' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a></p>
        </div>
      </div>
    </div>
  </main>

  <footer>
    Status: <span id="asm-status">ready</span>
  </footer>

  <!-- HTML templates -->
  <script type="text/html" class="template-example">
    <div class="example-container">
      <div class="example-image" onclick="loadExample(<%=id%>);" style="background-image:url(/img/examples/<%=size%>/<%=image%>);"></div>
      <div class="example-text"><%=descr%><%=link%><%=rating%></div>
    </div>
  </script>
  
  <script src="/js/common.js"></script>
  <script src="/js/dosasm.js"></script>
  <script>
    toggleTheme(true);
    // template vars
    var examples = formatExamples({{.Examples}});
    viewExamples();
    
    var sourceCode = `{{.Source}}`;
    initEditor();
    document.getElementById("asm-lang").value = `{{.AsmType}}`;
  </script>
</body>
</html>
