/* In this file there are DOSASM-specific styles and also JS-DOS styles. */
/* Some of JS-DOS styles seem to spoil the root namespace and conflict with my styles. */
/* I decided to just cherry-pick them and fix conflicts. It's easier this way. */

:root {
    /*JS-DOS consts */
    --sidebar-width: 3rem;
    --b3: 180 2% 90%;
    --b2: 0 0% 95%;
    --b1: 0 0% 100%;
    --bc: 215 28% 17%;
    --rounded-badge: 1.9rem;
    --animation-input: 0.2s;
    --handleoffset: 1.5rem;
}

[data-theme="light"] {
    --bg-color: #f0f0f0;
    --text-color: #333333;
    --header-bg: #ffffff;
    --line-color: #cccccc;
    --control-bg: #007ac8;
    --control-bg-hover: #228dd0;
    --control-text: #ffffff;
    --tab-content-bg: #f7f7f7;
    --status-bg: #f5f5f5;
    --tab-bg: #e0e0e0;
    --active-tab-bg: #ccc;
    --ace-scrollbar-bg: #f0f0f0;
    --ace-scrollbar-track: #aaa;
    --link: #0000EE;
    --visited-link: #551A8B;
}

[data-theme="dark"] {
    --bg-color: #252526;
    --text-color: #b5b5b5;
    --header-bg: #2c2c2c;
    --line-color: #3d3d3d;
    --control-bg: #005b8d;
    --control-bg-hover: #0f6d9f;
    --control-text: #ffffff;
    --tab-content-bg: #2b2b2b;
    --status-bg: #2a2a2a;
    --tab-bg: #444;
    --active-tab-bg: #666;
    --ace-scrollbar-bg: #454545;
    --ace-scrollbar-track: #2a2a2a;
    --link: #969bff;
    --visited-link: #696ed2;
}

.ace_scrollbar {
    scrollbar-color: var(--ace-scrollbar-track) var(--ace-scrollbar-bg);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

button {
    background-color: var(--control-bg);
    color: var(--control-text);
    border-width: 0px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

button:hover {
    background-color: var(--control-bg-hover); /* Try to make it lighter? */
}

select {
    background-color: var(--header-bg);
    color: var(--text-color);
    border-color: var(--line-color);
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-radius: 2px;
}

header {
    background-color: var(--header-bg);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--line-color);
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-left img {
    height: 30px;
}

.theme-switch {
    display: flex;
    align-items: center;
    gap: 8px;
}

.switch {
    position: relative;
    width: 50px;
    height: 26px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.theme-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0;
    right: 0; bottom: 0;
    background-color: #aaa;
    border-radius: 34px;
    transition: .4s;
}

.theme-switch .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: .4s;
}

.theme-switch input:checked + .slider {
    background-color: #2196F3;
}

.theme-switch input:checked + .slider:before {
    transform: translateX(24px);
}

main {
    flex: 1;
    display: flex;
    height: 100%;
    overflow: hidden;
}

.left-pane, .right-pane {
    height: 100%;
    overflow: auto;
}

.left-pane {
    flex-shrink: 0; /* prevent it from shrinking */
    width: 664px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 10px;
}

.code-editor {
    flex: 1;
    padding: 10px;
    overflow: auto;
    font-family: monospace;
    white-space: pre-wrap;
    box-shadow: 0px 0px 0px 1px var(--line-color);
}

.code-editor:focus {
    outline: none;
}

.right-pane {
    flex: 1;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.resizer {
    width: 5px;
    background: var(--active-tab-bg);
    cursor: ew-resize;
    position: relative;
}

.resizer:hover {
    background: #007FD0;
    cursor: ew-resize;
    position: relative;
}

.control-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.left-controls {
    display: flex;
    gap: 10px; /* Space between select and "Run" button */
}

select, button {
    padding: 5px 10px;
    font-size: 1em;
}

.tabs {
    display: flex;
    background: var(--tab-bg);
    margin: 0;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
}

.tab.active {
    background: var(--active-tab-bg);
    font-weight: bold;
}

.tab-content {
    flex: 1;
    border-top: none;
    background: var(--tab-content-bg);
    font-family: monospace;
    white-space: pre-wrap;
    overflow: auto;
}

.tab-content a {
    cursor: pointer;
    color: var(--link);
}

.tab-content a:visited {
    color: var(--visited-link);
}

.compiler-output {
    padding: 1em;
}

#tab-examples {
    padding: 1em;
}

.size-label {
    color:#288c28;
}

footer {
    background-color: var(--status-bg);
    padding: 8px 20px;
    border-top: 1px solid var(--line-color);
    font-size: 0.9em;
    text-align: left;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.sun-icon {
    font-size: 1.2em;
}

#dosbox-container {
    width: 100%;
    height: 100%;
}

.center {
    text-align:center;
}

#examples-viewport {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 1em;
}

.example-container {
    display: flex;
    flex-direction: column;
    width: 320px;
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
}

.example-image {
    width: 320px;
    height: 200px;
    background-position: center center;
}

.example-text {
    cursor: default;
    margin: 1em;
    flex-grow: 1;
}

/* JS-DOS styles ========================================================================= */

.jsdos-rso .overflow-hidden {
    overflow: hidden;
}

.jsdos-rso .overflow-auto {
    overflow: auto;
}

.jsdos-rso .relative {
    position: relative;
}  

.jsdos-rso .w-full {
    width: 100%;
}

.jsdos-rso .h-full {
    height: 100%;
}

.jsdos-rso .self-end {
    align-self: flex-end;
}

.jsdos-rso .w-2 {
    width: .5rem;
}

.jsdos-rso .w-12 {
    width: 3rem;
}

.jsdos-rso .h-1 {
    height: .25rem;
}

.jsdos-rso .h-2 {
    height: .5rem;
}

.jsdos-rso .h-16 {
    height: 4rem;
}

.jsdos-rso .-mt-3 {
    margin-top: -.75rem;
}

.jsdos-rso .mt-4 {
    margin-top: 1rem;
}

.jsdos-rso .mr-6 {
    margin-right: 1.5rem;
}

.jsdos-rso .my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.jsdos-rso .mx-2 {
    margin-left: .5rem;
    margin-right: .5rem;
}

.jsdos-rso .gap-2 {
    gap: .5rem;
}

.jsdos-rso .items-start {
    align-items: flex-start;
}

.jsdos-rso .items-center {
    align-items: center;
}

.jsdos-rso .items-end {
    align-items: flex-end;
}

.jsdos-rso .flex {
    display: flex;
}

.jsdos-rso .flex-row {
    flex-direction: row;
}

.jsdos-rso .flex-col {
    flex-direction: column;
}

.jsdos-rso .flex-grow {
    flex-grow: 1;
}

.jsdos-rso .flex-wrap {
    flex-wrap: wrap;
}

.jsdos-rso .justify-evenly {
    justify-content: space-evenly;
}

.jsdos-rso .bg-black {
    background-color: rgb(0 0 0);
}

.jsdos-rso .bg-base-200 {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b2) / var(--tw-bg-opacity));
}

.jsdos-rso .rounded-full {
    border-radius: 9999px;
}

.jsdos-rso .slider .touch .point {
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: hsl(var(--bc) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--b2) / var(--tw-text-opacity));
}

.jsdos-rso .slider .touch .bg-active {
    position: absolute;
    --tw-bg-opacity: 1;
    background-color: hsl(var(--p) / var(--tw-bg-opacity));
}
.jsdos-rso .sidebar {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background: linear-gradient(90deg, hsl(var(--b3)), hsl(var(--b2)));
    width: var(--sidebar-width);
    box-sizing: border-box;
    white-space: unset;
}  

.jsdos-rso .sidebar-button {
    position: relative;
    margin-top: .5rem;
    margin-bottom: .5rem;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    color: hsl(var(--bc));
}  

.jsdos-rso .sidebar .contentbar {
    flex-grow: 1;
}  
.jsdos-rso .sidebar .cycles {
    margin-top: .25rem;
    margin-bottom: -.5rem;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    padding-right: .5rem;
    text-align: right;
    font-size: .75rem;
    line-height: 1rem;
    opacity: .5;
    color: hsl(var(--bc));
}  

.jsdos-rso .bg-green-300 {
    --tw-bg-opacity: 1;
    background-color: rgb(134 239 172 / var(--tw-bg-opacity));
}  

.jsdos-rso .bg-base-300 {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b3) / var(--tw-bg-opacity));
}  

.jsdos-rso .animate-led {
    animation: pulse .3s cubic-bezier(.4,0,.6,1) infinite;
}    

.jsdos-rso .sidebar-highlight, .jsdos-rso .sidebar-button:hover {
    color: hsl(174 75% 39%);
}

.jsdos-rso .frame {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 24rem;
    overflow: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    background-color: hsl(var(--b3));
}

.jsdos-rso .settings-frame, .jsdos-rso .prerun-frame {
    margin-top: -.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.jsdos-rso .frame-root {
    display: flex;
    flex-direction: column;
}

.jsdos-rso .form-control {
    display: flex;
    flex-direction: column;
}

.jsdos-rso .settings-frame .option, .jsdos-rso .prerun-frame .option {
    width: 100%;
    justify-content: space-between;
}

.jsdos-rso .settings-frame .label, .jsdos-rso .prerun-frame .label {
    padding: 0;
}

.jsdos-rso .label {
    display: flex;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    align-items: center;
    justify-content: space-between;
    padding: .5rem .25rem;
}

.jsdos-rso .label-text {
    font-size: .875rem;
    line-height: 1.25rem;
    --tw-text-opacity: 1;
    color: hsl(var(--bc) / var(--tw-text-opacity));
}

.jsdos-rso .toggle {
    flex-shrink: 0;
    --tglbg: hsl(var(--b1));
    --handleoffsetcalculator: calc(var(--handleoffset) * -1);
    --togglehandleborder: 0 0;
    height: 1.5rem;
    width: 3rem;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-width: 1px;
    border-color: hsl(var(--bc) / var(--tw-border-opacity));
    --tw-border-opacity: .2;
    background-color: hsl(var(--bc) / var(--tw-bg-opacity));
    --tw-bg-opacity: .5;
    border-radius: var(--rounded-badge, 1.9rem);
    transition: background,box-shadow var(--animation-input, .2s) ease-out;
    box-shadow: var(--handleoffsetcalculator) 0 0 2px var(--tglbg) inset,0 0 0 2px var(--tglbg) inset,var(--togglehandleborder);
}

.jsdos-rso .toggle-primary:checked, .jsdos-rso .toggle-primary[checked=true], .jsdos-rso .toggle-primary[aria-checked=true] {
    border-color: hsl(var(--p) / var(--tw-border-opacity));
    --tw-border-opacity: .1;
    --tw-bg-opacity: 1;
    background-color: hsl(var(--p) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--pc) / var(--tw-text-opacity));
}

.jsdos-rso .toggle:checked, .jsdos-rso .toggle[checked=true], .jsdos-rso .toggle[aria-checked=true] {
    --handleoffsetcalculator: var(--handleoffset);
    --tw-border-opacity: 1;
    --tw-bg-opacity: 1;
}

.jsdos-rso button, .jsdos-rso input, .jsdos-rso optgroup, .jsdos-rso select, .jsdos-rso textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

.jsdos-rso .slider .touch {
    position: relative;
    display: flex;
    cursor: pointer;
}

.jsdos-rso canvas, .jsdos-rso .slider, .jsdos-rso .soft-keyboard {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -ms-touch-action: none;
    -ms-content-zooming: none;
    touch-action: none;
    outline: none;
}

.jsdos-rso .kbd-md {
    padding-left: .5rem;
    padding-right: .5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    min-height: 2.2em;
    min-width: 2.2em;
}

.jsdos-rso .kbd {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    border-color: hsl(var(--bc) / var(--tw-border-opacity));
    --tw-border-opacity: .2;
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b2) / var(--tw-bg-opacity));
    padding-left: .5rem;
    padding-right: .5rem;
    border-radius: var(--rounded-btn, .5rem);
    border-bottom-width: 2px;
    min-height: 2.2em;
    min-width: 2.2em;
}

.jsdos-rso code, .jsdos-rso kbd, .jsdos-rso samp, .jsdos-rso pre {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-size: 1em;
}
